html,
body {
  height: 100%;
}
body{
	background-color: #f2f2f2;
}

.full-bg-img{
	background: url("../imgs/desk2.jpg") no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sqlGui{
	background: url("../imgs/desk.jpg") no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.body{
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	postiion: fixed;
	display: block;
}
#updateBeg a{
	color: white;
}
#employeesPic{
	height: 50px;
}
#delete{
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#delete input[type="submit"]{
	margin-top: 0px;
}

#employeelink a{
	text-decoration: none;
	font-weight: bolder;

}
#employeelink a:hover{
	color: #ff3333;
}	